<div>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <button type="button" pButton (click)="openDialog()" label="Add Item"></button>
</div>
<p-table [columns]="displayedColumns" [value]="items" selectionMode="single" [(selection)]="data" (onRowSelect)="onRowSelect($event)"
  [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="Add Customer" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <span>
    <h3 class="first">Name</h3>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="data.name">
    <h3 class="first">Description</h3>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="data.description">
    <h3 class="first">Price</h3>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="data.price">
  </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="onOkClick()" label="Add" *ngIf="newItem"></button>
    <button type="button" pButton icon="pi pi-check" (click)="onSaveClick()" label="Save" *ngIf="!newItem"></button>
    <button type="button" pButton icon="pi pi-close" (click)="onNoClick()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>