<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-content>
  <p>First Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>
  
  <p>Last Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
  
  <p>Email</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
